.lista {
    font-size: 14px;
    margin-top: 10px;
}

.feito{
    background-color: #ffffff;
    color: #60aa00;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #60aa00;
    cursor: pointer;
}

.excluir{

    background-color: #ffffff;
    color: #e34e1e;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #e34e1e;
    cursor: pointer;
    margin-left: 10px;
}


.lista li{
    list-style-type: none;
    margin: 10px 0px;
}

.lista span{
    width: 149px;
    padding-left:2px; 
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
.lista ul{
    padding: 0;
    
}

.marcar{
    text-decoration: line-through;
    color: gainsboro;

}