.lista {

    font-family: "Lucida Sans Unicode","Lucida Grande", sans-serif;
    font-size: 14px;
   
    margin-top: 10px;

}

.feito{

    background-color: #ffffff;
    color: #60aa00;
    width: 55px;
    font-weight: bold;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #60aa00;
    font-family:  'Times New Roman', Times, serif;
    height: 26px;
    cursor: pointer;
     
}

.excluir{

    background-color: #ffffff;
    color: #e34e1e;
    width: 55px;
    font-weight: bold;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #e34e1e;
    font-family:  'Times New Roman', Times, serif;
    height: 26px;  
    cursor: pointer;
}


.lista li{
    list-style-type: none;
    margin: 10px 0px;
}

.lista span{
    width: 149px;
    padding-left:2px; 
    display: inline-block;
}
.lista ul{
    padding: 0;
    
}

.marcar{
    text-decoration: line-through;
    opacity: 70%;
}